
.navbar {
    font-family: 'Dekko', cursive;
}
.jumbotron{
    padding:0;
    margin-bottom:0;
    background-color: #66ccff;
    text-align: center;
}
.container{
    margin-top: 0;
    align-items: center;
    
}
.main {
    background-color: #66ccff;
    vertical-align: top;
  
}



.footer{
   position: bottom;
   top:0;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #66ccff;
   /* background: linear-gradient(160deg, #dcf4fe,#66ccff); */
   color: white;
   text-align: center;
   font-family:  'Dekko', cursive;
   padding-top: 20px;
   padding-bottom: 15px;
   vertical-align: middle;
}

.social{
    padding: 10px;
}